<%- include("header") -%>

<div class="favChardiv">
  <form action="/" method="post">
    <div class="mb-3">
      <label for="userFavChar" class="form-label"
        >Enter your Favourite Character:
      </label>
      <input type="text" class="form-control" id="userFavChar" name="favChar" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include("footer") -%>
