body {
  background-color: #0d4e39;
  color: #ffffff;
}

/* Home Route  */
img.headerimage {
  display: block;
  height: 21rem;
  margin: 20px auto 10px;
}

.favChardiv {
  width: 70%;
  margin: 3% auto;
  font-size: x-large;
}
.user-input {
  margin-top: 1.5rem;
}
.input-col {
  margin: 0 50px;
}

/* Footer */
footer {
  text-align: center;
  margin-bottom: 20px;
}

/* Saved Route */
.btn-saved {
  margin-left: 10px;
}

/* Stored Character Route */
.storedCharHeading {
  text-align: center;
  margin-top: 10px;
}

.storedCharDisplaydiv {
  margin-top: 30px;
  margin-bottom: 30px;
}
.individualCell {
  margin-top: 30px;
  text-align: center;
}

.card-title {
  margin-bottom: 15px;
}
