<%- include("header") -%>

<div class="p-5 mb-4 rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><%= title %></h1>
    <p class="col-md-8 fs-4"><%= userFavChar %></p>
    <a href="/"
      ><button class="btn btn-warning btn-lg" type="button">
        Try Again
      </button></a
    >
    <a href="/storedChar"
      ><button class="btn btn-dark btn-lg btn-saved" type="button">
        To view Saved characters Click here!
      </button></a
    >
  </div>
</div>

<%- include("footer") -%>
