<%- include("header") -%>

<div class="p-5 mb-4 rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">🎉Awesome!</h1>
    <p class="col-md-8 fs-4">
      The given Character is added to the favcharDB. To view all the saved
      character's JSON...
    </p>
    <a href="/storedChar"
      ><button class="btn btn-dark btn-lg" type="button">Click Here!</button></a
    >
  </div>
</div>

<%- include("footer") -%>
